/** MDL customize ------------------------------------------------------------ */

.mdl-layout__content {
  flex-direction: column;
  position: relative;
}

.mdl-card__subtitle-text {
  color: #ffffff;
  font-size: 16px;
  align-self: flex-start;
}

.mdl-layout__drawer {
  border-right: none;
}

.mdl-card__title > .mdl-textfield {
  padding: 0;
}

.mdl-card__title > .mdl-textfield > .mdl-button {
  bottom: 0;
}

/** APP layot ------------------------------------------------------------ */

.app-layout {
  /*background: linear-gradient(to bottom, #EEE, white);*/
  /*background: transparent url("back.jpg") no-repeat scroll center center;*/
}

.app-content {
  max-width: 1080px;
  margin: 0 auto;

  z-index: 20;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  box-sizing: border-box;
}

/** Pull to Refresh------------------------------------------------------------ */

.pull-to-refresh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 10;
    text-align: center;
    color: #263238;
    /*height: 48px;*/
}

.arrow {
    opacity: .6;
    font-size: 34px;
    width: auto;
    height: auto;
    transform: rotate(0deg);
    transition: transform .25s ease;
    -webkit-transition: transform .25s ease;
    -webkit-transform: rotate(0deg);
    margin-top: 5px;
    display: block;
}

.arrow.spin {
  animation: 0.5s spin infinite;
  -webkit-animation: 0.5s spin infinite;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.pull-to-refresh i {
    font-size: 34px;
    width: auto;
    height: auto;
    transform: rotate(90deg);
    transition: transform .25s ease;
    -webkit-transition: transform .25s ease;
    -webkit-transform: rotate(90deg);
    display: block;
}

.ptr-active .pull-to-refresh .arrow {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/** --------------------------------------- */

.login-heading {
  color: #424242;
}

.app-subview-enter {
  transform: translateX(100vw);
  transition: transform 250ms ease-in;
}

.app-subview-enter.app-subview-enter-active {
  transform: translateX(0);
}

.login-error {
  color: #DE3226;
}

.login-progress {
    width: 100vw;
    max-width: 260px;
}

.login-actions {
  display: flex;
  align-items: center;
}

.login-input {
  /*border-color: rgba(255, 255, 255, 0.82);*/
  /*color: #FFF;*/
}

.login-label {
  /*color: rgba(255, 255, 255, 0.56);*/
}

.product {
  min-width: 200px;
  min-height: 100px;
}

.product > .mdl-card__menu {
  color: #FFF;
}

.product > .mdl-card__title {
    color: #FFF;
    flex-direction: column;
}

.product-deposit > .mdl-card__title {
    background-color: #4CAF50;
}

.product-account > .mdl-card__title {
    background-color: #03A9F4;
}

.product-card > .mdl-card__title {
  background-color: #C2185B;
}

.product > .mdl-card__title > .mdl-card__title-text {
  display: flex;
  align-self: flex-start;
}

.product__rest {
  font-family: "Roboto";
  font-size: 24px;
}


.app-title {
  padding-left: 0.5em;
}

.app-drawer-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
}

.app-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.app-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: #FFF;
}

.app-button--expand {
  flex-grow: 1;
  margin-right: 16px;
}

.app-navigation {
  flex-grow: 1;
}

.mdl-layout__drawer > .app-navigation > .mdl-navigation__link {
  color: #B0B0B0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-navigation > .mdl-navigation__link > i {
  margin-right: 8px;
}

.app-transactions > .mdl-card__title > h4 {
  margin: 0;
}

.app-transaction {
  display: flex;
  border-bottom: 1px solid #CCC;
  align-items: center;
  padding: 8px 0;
}

.app-transaction > div {
  margin-right: 8px;
}

.app-transaction-avatar > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px
}

.app-transaction-avatar > span {
  margin-top: 8px;
  display: inline-block;
}

.app-transaction-amount {
  color: #F44336;
  font-size: 2em;
  font-family: "Roboto";
}

.app-transaction-title {
  flex-grow: 1;
}

.app-transaction-title > h5 {
  margin: 0 0 8px 0;
}

.is-not-authenticated .mdl-layout__drawer-button {
  display: none;
}

h3.page-heading {
  margin: 0;
}