.login-heading {
  color: #424242;
}

.app-subview-enter {
  transform: translateX(100vw);
  transition: transform 250ms ease-in;
}

.app-subview-enter.app-subview-enter-active {
  transform: translateX(0);
}

.login-error {
  color: #DE3226;
}

.login-progress {
    width: 100vw;
    max-width: 260px;
}

.login-actions {
  display: flex;
  align-items: center;
}

.login-input {
  /*border-color: rgba(255, 255, 255, 0.82);*/
  /*color: #FFF;*/
}

.login-label {
  /*color: rgba(255, 255, 255, 0.56);*/
}


.product-card {
  min-width: 200px;
  min-height: 100px;
}

.product-account > .mdl-card__title {
    color: #FFF;
    background-color: #46B6AC;
    flex-direction: column;
}

.product-card > .mdl-card__title {
  color: #FFF;
  background-color: #C2185B;
  flex-direction: column;
}

.product-card > .mdl-card__title > .mdl-card__title-text,
.product-account > .mdl-card__title > .mdl-card__title-text {
  display: flex;
  align-self: flex-start;
}

.mdl-layout__content {
  display: flex;
  flex-direction: column;
}

.mdl-card__subtitle-text {
  color: #ffffff;
  font-size: 16px;
  align-self: flex-start;
}

.product__rest {
  font-size: 18px;
}

.product-card > .mdl-card__menu,  .product-account > .mdl-card__menu {
  color: #FFF;
}

.app-title {
  padding-left: 0.5em;
}

.app-layout {
  /*background: linear-gradient(to bottom, #EEE, white);*/
  /*background: transparent url("back.jpg") no-repeat scroll center center;*/

}

.app-content {
  max-width: 1080px;
  margin: 0 auto;
}

.app-drawer-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
}

.app-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.app-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: #FFF;
}

.app-button--expand {
  flex-grow: 1;
}

.app-navigation {
  flex-grow: 1;
}


.mdl-layout__drawer > .app-navigation > .mdl-navigation__link {
  color: #B0B0B0;
}

.app-transaction {
  display: flex;
  border-bottom: 1px solid #CCC;
}

.app-transaction-avatar > img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.mdl-card > button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.mdl-layout__drawer {
  border-right: none;
}